<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://productbidcloud20230318151135.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f0382520-5710-4cda-94fa-59f4d23a622e/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/ProductBidCloud20230318151135</ResourceId>
    <UserName>$ProductBidCloud20230318151135</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://productbidcloud20230318151135.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>